.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* mark test*/

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 1px solid lightcyan;
}

.flex-child:first-child {
  border: 1px solid lightskyblue;
  margin-right: 20px;
}

body {
  background: url("./assets/00001.jpg") no-repeat center center fixed;
}

.center2 {
  text-align: center;
}

.color2 {
  color: aqua;
}
.buttoninfo {
  text-align: center;
}

/* mark test end */
