<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Client Form</title>
    </head>

    <body>
        <div class="main">
            <section>
                <div>
                    <h2 class="r-title">Register Client</h2>

                    <form method="POST" class="register-client-form" id="register-client-form">
                        <label for="company_name">Company Name:</label>
                        <input type="text" name="company_name" id="company_name" placeholder="Company Name" required/> <br>
                        <label for="owner_first">First Name:</label>
                        <input type="text" name="owner_first" id="owner_first" placeholder="Owner First Name" required/> <br>
                        <label for="owner_last">Last Name:</label>
                        <input type="text" name="owner_last" id="owner_last" placeholder="Owner Last Name" required/> <br>
                        <label for="primary_address">Primary Location:</label>
                        <input type="text" name="primary_address" id="primary_address" placeholder="123 Four Street." required/> 
                        <label for="primary_address">Postal Code:</label>
                        <input type="text" name="primary_postalcode" id="primary_postalcode" placeholder="A1B 2C3" required/> <br>
                        <label for="primary_city">City</label>
                        <input type="text" id="primary_city" placeholder="City" required> 
                        <label for="primary_province">Province</label>
                        <select id="primary_province" name="primary_province">
                            <option value="AB">Alberta</option>
                            <option value="BC">British Colombia</option>
                            <option value="ON">Ontario</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="NV">Nunavut</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="PQ">Québec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="YK">Yukon Territory</option>
                        </select> <br>
                        <label for="primary_phone">Phone number:</label>
                        <input type="tel" id="primary_phone" placeholder="1112223333" required> <br>
                        <label for="email">Email:</label>
                        <input id="email" type="email" name="email" placeholder="example@example.com"> <br>
                        <label for="password">Password:</label> 
                        <input type="password" name="password" id="password" placeholder="Password" /> 
                        <input type="password" name="retype_password" id="retype_password" placeholder="Retype password" /> <br>
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />

                    </form>
                </div>
            </section>
        </div>
    </body>
    
</html>