<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form </title>
</head>

<body>

    <div class="main">

        <!-- New Account form -->
        <section>
            <div>

                        <h2 class="r-title">New Account</h2>

                        <form method="POST" class="register-form" id="register-form">
                                <input type="text" name="name" id="Fname" placeholder="First Name" />
                                <input type="text" name="name" id="Lname" placeholder="Last Name" />
                                <input type="email" name="email" id="email" placeholder="Your Email" />

                                <input type="password" name="password" id="password" placeholder="Password" />
                                <input type="password" name="retype_password" id="retype_password" placeholder="Password" />

                                <input type="checkbox" name="agree-TOS" id="agree-TOS" class="agree-TOS" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                                    statements in <a href="#" class="term-service">Terms of service</a></label>
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />

                        </form>
            </div>
        </section>

        <!-- Login Form -->
        <section>
            <div>



                        <h2 class="r-title">Sign up</h2>
                        <form method="POST" class="register-form" id="login-form">


                                <input type="text" name="username" id="username" placeholder="Username" />
                                <input type="password" name="pass" id="pass" placeholder="Password" />

                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember
                                    me</label>
                                <input type="submit" name="login" id="login" class="form-submit" value="Log in" />
                        </form>
            </div>
        </section>

    </div>

</html>