<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List </title>
</head>

<body>

    <div class="main">

        <!-- section of side bar 
        -->
        <section>
            <ul>
                <!-- logo here -->
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>

                <li><a href="#">Login</a></li>
            </ul>
        </section>

    </div>


    <div class="body">
    
        <!-- list of User here? 
            -->
        <section>
            <ul>
                <li><a href="#">User </a></li>
                <li><a href="#">User</a></li>
                <li><a href="#">User</a></li>
                <li><a href="#">User</a></li>
                <li><a href="#">User</a></li>
                <li><a href="#">User</a></li>
            </ul>
        </section>
    
    </div>

</html>